/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*semaforo*/
#semaforo {
    background-color: black;
    border-radius: 50px;
    width: 300px; 
    height: 525px;
    margin-left: 40px;
    margin-top: 10px;
}

/*semaforo - vermelho*/
.vermelho {
    background-color: gray;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position: relative;
    left: 25%;
    top: 5%;
}

/*semaforo - vermelho pisca*/
.vermelhoAceso {
    background-color: red;
    box-shadow: 0 0 20px 10px white;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position: relative;
    left: 25%;
    top: 5%;
}

/*semaforo - amarelo*/
.amarelo {
    background-color: gray;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position:relative;
    left: 25%;
    top: 7%;
}

/*semaforo - amarelo pisca*/
.amareloAceso {
    background-color: yellow;
    box-shadow: 0 0 20px 10px white;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position:relative;
    left: 25%;
    top: 7%;
}

/*semaforo - verde*/
.verde {
    background-color: gray;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position:relative; 
    left: 25%;
    top: 9%;
}

/*semaforo - verde pisca*/
.verdeAceso {
    background-color: green;
    box-shadow: 0 0 20px 10px white;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position:relative; 
    left: 25%;
    top: 9%;
}

/*botões*/
.botao {
    margin-left: 2%;
    margin-top: 2%;
    color: darkmagenta;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

/*semaforo - pedestre*/
#semafora-pedestre {
    background-color: black;
    border-radius: 50px;
    width: 300px; 
    height: 260px;
    margin-left: 480px;
    margin-top: -260px;
}

/*semaforo - pedestre*/
.pedestre {
    background-color: red;
    box-shadow: 0 0 20px 10px white;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position: relative;
    left: 25%;
    top: 20%;
}

/*semaforo - pedestre aceso*/
.pedestreAceso {
    background-color: green;
    box-shadow: 0 0 20px 10px white;
    border-radius: 200px;
	width:150px; 
    height: 150px;
	position: relative;
    left: 25%;
    top: 20%;
}

/*botao passar - pedestre
#passar {
    margin-left: 200px;
}*/